<div class="debate">
    <div class="debate-header">
        @let level = debate.node.level;
        @let title = debate.node.name;
        @if (level === 1) {
            <h2>{{ title }}</h2>
        } @else if (level === 2) {
            <h3>{{ title }}</h3>
        } @else if (level === 3) {
            <h4>{{ title }}</h4>
        } @else {
            <h5>{{ title }}</h5>
        }
    </div>

    <div class="debate-speeches">
        @for (speech of debate.speeches; track $index) {
            <app-speech-display
                    [speech]="speech"
            />
        }
    </div>

    <div class="debate-subdebates">
        @for (subdebate of debate.children; track $index) {
            <app-debate-display
                    [debate]="subdebate"
            />
        }
    </div>
</div>
