@if (speech.text.startsWith("Voici le résultat du scrutin")) {
  <result-display
    [result]="speech.text"
  />
} @else {
  <div class="message">
    <span class="speaker">
      {{ speech.speaker.name }}
      <i>({{ speech.speaker.role }} ; {{ speech.speaker.title }})</i> :
    </span>
    <div class="messages">
      @for (paragraph of speech.text.split("\n\n"); track $index) {
        <p class="message-content">
          <markdown
            [data]="paragraph"
          />
        </p>
      }
    </div>
  </div>
}

