<div id="main-layout">
  <p-header>
    <ngx-teleport-outlet name="header"></ngx-teleport-outlet>
  </p-header>

  <div id="app-content">
    <router-outlet></router-outlet>
  </div>

  <p-footer id="navbar">
    @for (tab of sortedTabs; track tab.index) {
      @let active = isActiveRoute(tab.routerLink);
      <p-button
        [routerLink]="tab.routerLink"
        [label]="tab.label"
        [icon]="tab.icon"
        iconPos="top"

        [text]="!active"
        [severity]="active ? 'primary' : 'contrast'"
        size="small"

        styleClass="nav-btn"
      />
    }
  </p-footer>
</div>
